#contenedor {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#rojo {
    background-color: red;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}
#azul {
    background-color: blue;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}
#verde {
    background-color: green;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}